<!-- Navbar -->
<app-header (elementHeaderCreated)="onElementHeaderCreated($event)"></app-header>
<!-- End Navbar -->

<!-- Main -->
<main id="main">
  <!-- Carousel -->
  <app-carrossel (elementCarouselCreated)="onElementCarouselCreated($event)"></app-carrossel>
  <!-- End Carousel -->

  <!-- Features -->
  <app-destaques [featureData]="data.features" (elementFeaturesCreated)="onElementFeaturesCreated($event)"></app-destaques>
  <!-- End Features -->

  <!-- About -->
  <app-sobre [aboutData]="data.about" (elementCreated)="onElementCreated($event)"></app-sobre>
  <!-- End About -->

  <!-- Address -->
  <app-address [addressData]="data.address" (elementAddressCreated)="onElementAddressCreated($event)"></app-address>
  <!-- End Address -->

  <!-- Contact -->
  <app-contatos (elementContactCreated)="onElementContactCreated($event)" (sendForm)="onContactFormSubmitted($event)"></app-contatos>
  <!-- End Contact -->

  <div class="btn-top">
    <a class="btn btn-link" href="#main">
      <img src="./assets/images/seta-para-cima.png" alt="...">
    </a>
  </div>

</main>
<!-- End Main -->

<!-- Footer -->
<app-footer (elementFooterCreated)="onElementFooterCreated($event)"></app-footer>
<!-- End Footer -->
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
